.containersignin {
    flex: 1;
    justify-content: center;
    align-Items: center;
    background-Color: transparent;
}

.container {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-Items: stretch;
    background-Color: transparent;
    margin: 20;
}

.containerlist {
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-Items: stretch;
    background-Color: transparent;
}

.welcome {
    font-size: 25px;
    font-family: AvenirNext-UltraLight
;
    text-align: center;
    margin: 20px;
    background-color: rgba(245, 252, 255,0.1);

}
.welcomecontainer
{
    background-color: rgba(245, 252, 255,0.1);
    border-radius: 5%;
}

.instructions {
    text-align: center;
    font-size: 15px;

    font-family: AvenirNext-UltraLight

}

.backdrop {
    height:90;
    width:70;
}

.rowcontainer
{
    flex:1;
    max-width: 340;
    min-width: 320;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255,165,0, 0.7);

}

.colcontainer
{

    flex:1;
    flex-direction: row;
    justify-content: space-between;
    margin: 2;
    flex-wrap: wrap;
}

.vcol {
    flex:1;
    height: auto;
    font-family: AvenirNext-Regular ;
    font-size: 12;
    padding:5;
}